<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="shortcut icon" type="image/ico" href="/css/favicon.ico" />
    <style type="text/css">
        table.task_today {
            border: 2px solid #000000;
            float: left;
            text-align: left;
            border-collapse: collapse;
            width: 47%;
        }
        table.task_today td, table.task_today th {
            border: 1px solid #000000;
            padding: 5px 4px;

        }
        table.task_today tbody td {
            font-size: 15px;
        }
        table.task_today th {
            background: #cef5d6;
            border-bottom: 2px solid #000000;
        }
        table.task_today   th {
            font-size: 17px;
            font-weight: bold;
            color: #000000;
            text-align: center;
        }

        input[type=text] {
            width: 40%;
            padding: 10px 20px;
            margin: 8px -2px;
            box-sizing: border-box;
        }

         input[type=submit]{
             width: 7%;
             padding: 9px 0px;
             margin: 8px 0;
         }

    </style>
</head>
<body>
    <center>
        <h2>Tasks today</h2>
    </center>
    <div style="text-align:center;" >
            <table class="task_today" id="task_today" >
                <tr>
                    <th colspan="5">Tasks</th>
                </tr>
                <tr>
                    <th>Task name</th>
                    <th>Status</th>
                    <th>Start</th>
                    <th>Action</th>
                    <th>Time taken</th>
                </tr>
                {{range $k, $v := .TaskList}}
                    {{if eq .IdComplete false}}
                    <tr>
                        <td>{{.Content}}</td>
                        {{if eq .Status 0}}
                            <td>New</td>
                            {{if eq .StartTime "00:00:00"}}
                                <td>---</td>
                            {{else}}
                                <td>{{.StartTime}}</td>
                            {{end}}
                            <td align="center" >
                                <button value="Start now" onclick="start({{.Id}},this)">Start now</button>
                            </td>
                        {{else if eq .Status 1}}
                            <td style="background-color: yellow;" >In progress</td>
                            {{if eq .StartTime "00:00:00"}}
                            <td>---</td>
                            {{else}}
                                <td>{{.StartTime}}</td>
                            {{end}}
                            <td align="center" >
                                <button onclick="pause({{.Id}})">Pause</button>
                                <button onclick="complete({{.Id}})">Complete</button>
                            </td>
                        {{else if eq .Status 2}}
                            <td style="background-color: aquamarine" >Paused</td>
                            {{if eq .StartTime "00:00:00"}}
                                <td>---</td>
                            {{else}}
                                <td>{{.StartTime}}</td>
                            {{end}}
                            <td align="center" >
                                <button onclick="resume({{.Id}})">Resume</button>
                            </td>
                        {{else if eq .Status 3}}
                            <td>Finished</td>
                            {{if eq .StartTime "00:00:00"}}
                                <td>---</td>
                            {{else}}
                                <td>{{.StartTime}}</td>
                            {{end}}
                                <td align="center" ><button value="Đã xong" onclick="complete({{.Id}})">Đã xong</button></td>
                        {{end}}

                        {{if eq .Status 1}}
                            <td>{{.TotalTime}}</td>
                        {{else}}
                            <td>{{.TimeTake}}</td>
                        {{end}}
                    </tr>
                    {{end}}
                {{end}}
            </table>

            <table class="task_today" id="task_today_completed" style="float: right;" >
                <tr>
                    <th colspan="4">Completed tasks</th>
                </tr>
                <tr>
                    <th>Task name</th>
                    <th>Finish</th>
                    <th>Total time</th>
                    <th>Thao tác</th>
                </tr>
            {{range $k, $v := .TaskList}}
            {{if ne .IdComplete false}}
                <tr>
                    <td>{{.Content}}</td>
                    <td>{{.EndTime}}</td>
                    <td>{{.TimeTake}}</td>
                    <td align="center" >
                        <button value="Làm tiếp"  onclick="restore({{.Id}})">Làm tiếp</button>
                        <button value="Xóa"  onclick="xoa({{.Id}})">Xóa</button>
                    </td>
                </tr>
             {{end}}
            {{end}}
            </table>
    </div>
    <div style="clear: left;" ></div>
    <div id="addTask" >
        <form action="/tasks" method="post" >
            <td><input type="text" id="task-content"  name="task-content" placeholder="Add task" autofocus ></td>
            <td><input type="submit" value="Add" ></td>
        </form>
    </div>


<script type="application/javascript">

    function start(id, button) {

        var tr = document.querySelectorAll("#task_today tr")
        var remainInProgressTask = false
        for (i=3;i<=tr.length;i++){
            td = document.querySelector("#task_today tr:nth-child("+i+")" + " td:nth-child(2)")
            if (td.textContent == "In progress") {
                remainInProgressTask = true
                td.style.backgroundColor = "red"
            }
        }
        if (remainInProgressTask) {
            alert("Please pause or complete ather tasks");
            return;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
            }
        };
        xhttp.open("POST", "/start", true);
        xhttp.send(id);
    }

    function pause(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
            }
        };
        xhttp.open("POST", "/pause", true);
        xhttp.send(id);
    }

    function resume(id) {
        var tr = document.querySelectorAll("#task_today tr")
        var remainInProgressTask = false
        for (i=3;i<=tr.length;i++){
            td = document.querySelector("#task_today tr:nth-child("+i+")" + " td:nth-child(2)")
            if (td.textContent == "In progress") {
                remainInProgressTask = true
                td.style.backgroundColor = "red"
            }
        }
        if (remainInProgressTask) {
            alert("Please pause or complete ather tasks");
            return;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
            }
        };
        xhttp.open("POST", "/resume", true);
        xhttp.send(id);
    }

    function restore(id) {
        var tr = document.querySelectorAll("#task_today tr")
        var remainInProgressTask = false
        for (i=3;i<=tr.length;i++){
            td = document.querySelector("#task_today tr:nth-child("+i+")" + " td:nth-child(2)")
            if (td.textContent == "In progress") {
                remainInProgressTask = true
                td.style.backgroundColor = "red"
            }
        }
        if (remainInProgressTask) {
            alert("Please pause or complete ather tasks");
            return;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
            }
        };
        xhttp.open("POST", "/lamtiep", true);
        xhttp.send(id);
    }

    function complete(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
            }
        };
        xhttp.open("POST", "/complete", true);
        xhttp.send(id);
    }

    function xoa(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload();
            }
        };
        xhttp.open("POST", "/xoa", true);
        xhttp.send(id);
    }

</script>
</body>
</html>